body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.sup {
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sup h1 {
  flex-grow: 1;
  margin: 0;
}

.menu {
  background-color: #000;
  border-radius: 5px;
  border: 5px solid white;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px 4px 0;
  cursor: pointer;
}

.menu a {
  color: white;
  text-decoration: none;
}

.hoje_manha {
  display: flex;
  height: 300px;
}

.divhoje, .divamanha {
  margin: 0;
  padding: 50px;
  border-radius: 5px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.divhoje {
  background-color: hwb(60 7% 0%);
  color: red;
  border: 5px solid red;
}

.divamanha {
  background-color: red;
  color: white;
  border: 5px solid blue;
}

.hoje, .amanha {
  font-size: 25px;
}

.hoje {
  background-color: yellow;
  color: red;
  justify-content: space-between;
}

.amanha {
  background-color: red;
  color: blue;
  margin: 5px 0;
  display: inline-block;
}

.divhoje a, .divamanha a {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

